/* styling scrollbars */
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 05px #a5aaad;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb{
    background: #49438D;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover{
    background: #BFCAFF;
}


/* general styling */

.portal {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
        "sidebar nav nav nav"
        "sidebar main main main";
}
main {
    background: white;
    grid-area: main;
    overflow-y: auto;
    padding: 15px;
}
@media only screen and (max-width: 978px) {
    .portal {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: 
            "nav"
            "main";
    }
}