* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  scroll-behaviour: smooth;
}

/* Navbar styles */
.navbar {
  display: flex;
  background-color: #fff;
  font-size: 0.9em;
  height: 70px;
  top: 0;
  z-index: 20;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}
/* .nav-container li:last-child {
  color: #76eeea;
  border: 1px solid #76eeea;
  border-radius: 5px;
} */
.nav-logo {
  align-items: center;
  color: #49438d;
  margin-left: 3em;
  cursor: pointer;
  font-size: 1.5em;
  flex-grow: 1;
}
.nav-menu {
  display: flex;
  list-style-type: none;
  text-align: center;
  margin-right: 3em;
}

.nav-links1,
.nav-links2,
.nav-links3,
.nav-links4 {
  color: #0f121f;
}
.nav-links6 {
  color: #fff;
}

.nav-links {
  padding: 0.2em 1.5em;
  height: 100%;
}
.nav-menu li:nth-child(5) {
  margin-left: 18em;
  border: 1px solid #49438d;
  border-radius: 5px;
  margin-right: 3em;
}
.nav-menu li:nth-child(6) {
  background-color: #49438d;
  border-radius: 5px;
}
.nav-item {
  line-height: 30px;
  margin-right: 1em;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar {
    position: sticky;
    top: 0;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 70px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu li:nth-child(5) {
    margin-left: 19px;
  }
  .nav-menu.active {
    background: #49438d;
    left: 0px;
    opacity: 0.9;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-container li:last-child {
    border: none;
  }
  .nav-links {
    color: #fff;
    width: 100%;
    display: table;
    position: relative;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #49438d;
  }
}
