@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@700&family=Parisienne&family=Roboto:wght@100;300;400;500;700;900&family=Sacramento&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,800;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #fff; */
  font-family: "Roboto", sans-serif;
  /* position: relative; */
}

/* SIGN UP */
.signup-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #fff;

}

.signin-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 100vh;
  background-color: #fff;
}

.signup-card h2 {
  line-height: 30vh;
  margin-bottom: -60px;
  font-family: Montserrat;
  font-weight: bold;
}

.signin-card h2 {
  line-height: 30vh;
  margin-bottom: -60px;
  font-family: Montserrat;
  font-weight: bold;
}

.signup-contents {
  color: #000;
  font-family: Poppins;
  font-weight: bold;
  margin-bottom: 30px;
}

.signup-text {
  font-size: 1rem;
}

.sign-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.sign-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
}

.signup-form input {
  width: 300px;
  height: 45px;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  border: 2px solid #000;
  border-radius: 4px;
  display: block;
}

.signin-form input {
  width: 300px;
  height: 45px;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  border: 2px solid #000;
  border-radius: 4px;
  display: block;
}

.signup-form input:focus {
  outline: none;
  border: 2px solid #719ece;
  box-shadow: 0 0 6px #719ece;
}

.signin-form input:focus {
  outline: none;
  border: 2px solid #719ece;
  box-shadow: 0 0 10px #719ece;
}

.signup-form p {
  color: red;
  text-align: start;
  font-size: 0.7rem;
  padding: 0px 0 15px;
}

.signin-form p {
  color: red;
  text-align: start;
  font-size: 0.7rem;
  padding: 0px 0 15px;
}

.signup-btn {
  color: #fff;
  background-color: darkblue;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 2px;
  border: none;
  padding: 16px 20px;
  margin: 20px 0;
  border-radius: 4px;
  width: 100%;
}

.signin-btn {
  color: #fff;
  background-color: darkblue;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 2px;
  border: none;
  padding: 12px 20px;
  margin: 20px 0;
  border-radius: 4px;
  width: 100%;
}

.signup-alt {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
}

.signin-alt {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
}

.signup-alt a {
  color: darkblue;
  text-decoration: none;
}

.signin-alt a {
  color: dark darkblue;
  text-decoration: none;
}

.resetpassword-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px 16px 45px;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 10px;
}

.resetpassword {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px 16px 45px;
  background: #49438d;
  border-radius: 10px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.sign-in label {
  font-family: Montserrat;
  font-weight: bold;
}

.sign-up label {
  font-family: Montserrat;
  font-weight: bold;
}

img {
  width: 950px;
  height: 450px;
  margin: 0 15px 0 0;
  float: left;
}

/* .sign-up form { */
        /* display: block; */
/* } */