main {
    background: #f3f4f6;
    grid-area: main;
    overflow-y: auto;
}

.main__container {
    padding: 20px 35px;
}
.main-header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between; */
}
.greetings p {
    margin: 15px 0;
    font-size: 12px;
    line-height: 18px;
}
.greetings .user-mood {
    margin-top: 40px;
}
.greetings .user-mood span {
    margin-right: 20px;
    font-size: 12px;
    line-height: 18px;
    padding: 7px 30px;
    color: #fff;
    box-shadow: 0px 15px 30px rgba(123, 123, 123, 0.2);
    border-radius: 10px;
}
.greetings .user-mood span:last-child {
    margin-right: 0px;
}

.happy {
    background: #49438d;
}
.sad {
    background: #bfcaff;
}
.neutral {
    background: #313a63;border-radius: 10px;
}
.excited {
    background: #DFE5FF;
}

.tips {
    width:35%;
}
.tips h3{
    font-size: 24px;
    line-height: 36px;
    color: #313A63;
}
.tips-content {
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.tips-icon {
    font-size: 90px;
    color: #49438D;
    margin-right: 20px;
}
.tips-content p{
    font-size: 18px;
    line-height: 27px;
    color: #49438D;
}
/* card sections */
.appointment,
.programs {
    margin-top: 50px;
}
.section-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-intro button {
    color: #49438d;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 24px;
}
.card-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px 0;
}
.appointment-card {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 15px 30px rgba(123, 123, 123, 0.2);
}
.card-header {
    display: flex;
    align-items: center;
}
.card-header img {
    margin-right: 15px;
}
.card-header .doctor-detail p {
    margin: 15px 0 0 0;
}
.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.card-body p {
    margin: 15px 0;
}
.card-footer {
    display: inherit;
    margin-top: 15px;
    align-self: flex-end;
}
.card-footer div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #313a63;
    margin-right: 10px;
}
.program-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 15px 30px rgba(123, 123, 123, 0.2);
    padding: 15px;
}
.program-card .program-details {
    background: #c4c4c4;
}
.program-card .program-goals {
    padding: 10px;
}
.program-card .program-goals p {
    margin: 10px 0;
}

@media only screen and (max-width: 855px) {
    .main-header{
        flex-direction: column;
    }
    .tips {
        width: 100%;
        margin-top: 30px;
    }
    .card-section {
        grid-template-columns: 1fr;
        gap: 20px;
            margin-bottom: 0;
    }
}

@media (min-width: 855px) and (max-width: 1200px){
    .tips-content {
        flex-direction: column;
    }
    .tips-icon {
    font-size: 30px;
    color: #49438D;
    margin-right: 20px;
}
}
