@media screen and (min-width: 360px) and (max-width: 700px) {
  .tabview-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #f1f1f1;
  }

  .block-tabview {
    display: flex;
    border-bottom: 1px solid #dfe5ff;
  }
  .tabview {
    padding: 15px;
    text-align: center;
    width: 50%;
    cursor: pointer;
    background-color: #fff;
    box-sizing: content-box;
    position: relative;
    outline: none;
    border-radius: 5px;
    color: #9d9c9c;
  }

  .active-tabview {
    color: #49438d;
  }

  .block-tabview button {
    border: none;
  }
  .content-tabview {
    flex-grow: 1;
  }
  .content-mobile {
    width: 100%;
    height: 100%;
    display: none;
  }
  .content-mobile h2 {
    padding: 0px 0 5px 0px;
  }

  .content-mobile p {
    width: 100%;
    height: 100%;
  }
  .active-content-mobile {
    display: block;
  }
}
